@page "/reset/{AccountIdStr}"
@page "/reset/{AccountIdStr}/{PasswordResetStr}"

@inject NavigationManager navManager;
@inject IUserRepository userRepository;
@inject AuthenticationStateProvider authProvider;
@inject ISnackbar snackBar;

@if (done)
{
    <MudCard Style="max-width:25rem;">
        <MudCardHeader><MudText Typo="Typo.h3">Reset password</MudText></MudCardHeader>
        <MudCardContent>
            <MudExtensions.MudPasswordField @bind-Value="@newPassword" Label="New password" />
            <MudExtensions.MudPasswordField @bind-Value="@newConfirmStr" Label="Confirm password" />
        </MudCardContent>
        <MudCardActions>
            <MudButton @onclick="ChangePassword" Variant="Variant.Filled" Color="Color.Primary">Change password</MudButton>
        </MudCardActions>
    </MudCard>
}
else
{
    @Output
}


@code {
    [Parameter]
    public string? PasswordResetStr { get; set; } = null;

    [Parameter]
    public string? AccountIdStr { get; set; } = null;

    public Guid? PasswordResetGuid => ParsingExtention.GuidTryParse(PasswordResetStr);
    public int? AccountId => ParsingExtention.IntTryParse(AccountIdStr);
    private bool done = false;

    public RenderFragment Output = @<div>Processing...</div>;

    private string newPassword = string.Empty;
    private string newConfirmStr = string.Empty;


    private async Task ChangePassword()
    {
        if (string.IsNullOrEmpty(newPassword) ||
            string.IsNullOrEmpty(newConfirmStr) ||
            string.IsNullOrEmpty(PasswordResetStr))
        {
            snackBar.Add("All fields must be filled in!", Severity.Error);
            return;
        }
        if (newPassword == newConfirmStr)
        {
            //If passwords match
            await userRepository.UpdateUser((int)AccountId, password: newPassword, passwordResetRequest: DateTime.MinValue, passwordResetGuid: Guid.Empty);
            snackBar.Add("Password has been updated", Severity.Success);
            Output =@<div>Password has been updated</div>;
            done = false; //show the output
        }
        else
        {
            snackBar.Add("Passwords do not match!", Severity.Warning);
        }
    }


    protected override async Task OnInitializedAsync()
    {
        if (PasswordResetStr == null || AccountIdStr == null)
            navManager.NavigateTo("/login", true);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (AccountId == null || PasswordResetGuid == null)
        {
            Output =@<div>Password reset Data Error</div>;
            return;
        }

        var userAccount = (await userRepository.GetUsersByFilter(id: (int)AccountId)).FirstOrDefault();
        if (userAccount == null)
        {
            Output =@<div>Account not found!</div>;
            return;
        }

        if (userAccount.PasswordResetGuid != PasswordResetGuid)
        {
            Output =@<div>Password reset Failed!</div>;
            return;
        }

        //no request has been send, send one now
        if (userAccount.PasswordResetRequest == DateTime.MinValue)
        {
            Output =@<div>No password reset has been requested!</div>;
            return;
        }

        // Check if the current time is after the expiration time of the verification link
        if (DateTime.Now > userAccount.PasswordResetRequest.AddHours(24))
        {
            Output =@<div>Password reset has expired!</div> ;
            return;
        }


        done = true;
    }
}
